<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.LocationReminder"
    >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Check the status of internet network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Allows an app to access approximate location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="Location Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity android:name="com.example.LocationReminder.third" />
        <activity android:name="com.example.LocationReminder.second" />
        <activity android:name="com.example.LocationReminder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>